* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #ffffff 0%, #ebedee 100%);
    height: 100vh;
}

.fealiyyet {
    float: left;
}

.fealiyyet .baslig {

    color: rgb(70, 70, 203);

}

.first {
    box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0 0 0 / 17%);
    -moz-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 80px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 10px 20px 5px;
    transition: .4s all;
}

.first:hover {
    border-right: 2px solid black;
}

.first .picture1 {
    width: 130px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;

}

.first .yazi1 {
    font-size: 18px;
    margin: 30px 0px 0px 150px;
    color: rgb(70, 70, 203);
}

.second {
    width: 400px;
    height: 80px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 10px 20px 5px;
    box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0 0 0 / 17%);
    -moz-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
    transition: .4s all;
}

.second:hover {
    border-right: 2px solid black;
}

.second .picture2 {
    width: 130px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
}

.second .yazi2 {
    font-size: 18px;
    margin: 30px 0px 0px 150px;
    color: rgb(70, 70, 203);
}

.third {
    width: 400px;
    height: 80px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 10px 20px 5px;
    box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0 0 0 / 17%);
    -moz-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
    transition: .4s all;
}

.third:hover {
    border-right: 2px solid black;
}

.third .picture3 {
    width: 130px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
}

.third .yazi3 {
    font-size: 18px;
    margin: 30px 0px 0px 150px;
    color: rgb(70, 70, 203);
}

.secimler {
    width: 600px;
    height: 300px;
    margin: 60px 20px 5px 20px;
    float: left;
    background-color: #ffffff;
    
}

.writting1 {
    border: 1px solid transparent;
    margin: 0px 15px ;
    transition: .4s all;
    width: 500px;
    height: 60px;
    float: left;
    cursor: pointer;
}
.icon{
    width: 50px;
    float: left;
    margin: 20px 0px;
    font-size: 20px;
    
}

.writting1:hover {
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.ideya1 {
    margin: 10px 150px 5px 10px;
}

.secim1 {
    margin: 0px 10px 0px 10px;
}

.writting2 {
    border: 1px solid transparent;
    margin: 0px 15px ;
    transition: .4s all;
    width: 500px;
    height: 60px;
    float: left;
    cursor: pointer;
}
.icon2{
    width: 50px;
    float: left;
    margin: 20px 0px;
    font-size: 20px;
   
}

.writting2:hover {
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.ideya2 {
    margin: 10px 10px 5px 10px;
}

.secim2 {
    margin: 0px 10px 0px 10px;
}

.writting3 {
    border: 1px solid transparent;
    margin: 0px 15px ;
    transition: .4s all;
    width: 500px;
    height: 60px;
    float: left;
    cursor: pointer;
}
.icon3{
    width: 50px;
    float: left;
    margin: 20px 0px;
    font-size: 20px;
  
    
}


.writting3:hover {
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.ideya3 {
    margin: 10px 10px 5px 10px;
}

.secim3 {
    margin: 0px 10px 0px 10px;
}

.writting4 {
    border: 1px solid transparent;
    margin: 0px 15px ;
    transition: .4s all;
    width: 500px;
    height: 60px;
    float: left;
    cursor: pointer;
}
.icon4{
    width: 50px;
    float: left;
    margin: 20px 0px;
    font-size: 20px;
 
    
}

.writting4:hover {
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.ideya4 {
    margin: 10px 10px 5px 10px;
}

.secim4 {
    margin: 0px 10px 0px 10px;
}

.layihe {
    background-color: rgb(235, 235, 235);
    border: 1px solid transparent;
    float: left;
    height: 80px;
    width: 100%;
    margin: 50px 0px 5px 0px;

}

.layihe h2 {
    padding: 5px 5px 10px 20px;
    color: rgb(70, 70, 203);

}

.alt {
    margin: 20px 0 0 0;

    border: 1px solid transparent;
    float: left;
    width: 100%;
    height: 150px;
}

.setr {
    list-style: lower-alpha;
    width: 100px;
    height: 100px;
    margin: 30px 70px 30px 30px;
    color: rgb(70, 70, 203);
    float: left;
}

.sekil1 {
    float: left;

}

.sekil1 img {
    width: 100px;
    margin: 40px 160px 40px 60px;
    transition: .1s all;
    filter: grayscale(0.9);
}

.sekil1 img:hover {

    filter: grayscale(0);

}

.sekil2 {
    float: left;
}

.sekil2 img {
    width: 100px;
    margin: 40px 160px 40px 60px;
    transition: .1s all;
    filter: grayscale(0.9);
}

.sekil2 img:hover {

    filter: grayscale(0);

}

.sekil3 {
    float: left;
}

.sekil3 img {
    width: 100px;
    margin: 40px 160px 40px 60px;
    transition: .1s all;
    filter: grayscale(0.9);
}

.sekil3 img:hover {

    filter: grayscale(0);

}


.sekil4 {
    float: left;
}

.sekil4 img {
    width: 100px;
    margin: 40px 160px 40px 60px;
    transition: .1s all;
    filter: grayscale(0.9);
}

.sekil4 img:hover {

    filter: grayscale(0);

}

.elaqe {
    border: 1px solid transparent;
    float: left;
    width: 100%;
    height: 700px;
    margin: 100px 0 0 0;
}

.elaqe h2 {
    margin: 20px 420px;
    width: 100%;
    height: 40px;
    color: rgb(70, 70, 203);
}

.iceri {
    border: 1px solid transparent;
    width: 1100px;
    height: 600px;
    margin: 10px 200px;
}

input {
    width: 250px;
    height: 40px;
}

.ad {
    float: left;
    margin: 10px 50px 20px 20px;
}

.soyad {
    float: left;
    margin: 10px 50px 20px 20px;
}

.ata_adi {
    float: left;
    margin: 10px 50px 20px 20px;
}

.fin {
    float: left;
    margin: 10px 50px 20px 20px;
}

.nomre {
    float: left;
    margin: 10px 50px 20px 20px;
}

.nomre select {
    width: 50px;
    height: 30px;
}

.nomre input {
    width: 198px;
    height: 40px;
}

.elektron {
    float: left;
    margin: 10px 50px 20px 20px;
}

.nov {
    float: left;
    margin: 10px 50px 20px 20px;

}

.nov select {
    width: 250px;
    height: 40px;
}

.muraciet {
    float: left;
    margin: 10px 50px 20px 20px;

}

.muraciet select {
    width: 250px;
    height: 40px;
}

.radio {
    float: left;
    margin: 30px 50px 20px 10px;
}

.radio input {
    width: 30px;
    height: 15px;
}

.metn {
    float: left;
    margin: 10px 50px 20px 20px;

}

.son {
    float: left;
    margin: 10px 50px 20px 20px;
}

.submit {
    margin: 30px;
    float: left;
    margin: 50px 10px 0px 400px;


}

.submit input {
    width: 200px;
    height: 50px;
}

.elaqe01{
float: right;
text-align: end;
width:300px ;
height:60px ;
margin: 0px 60px;
}


